{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="p-5">
                <h1>Symfony QR Code ✅</h1>
                <h2>Aller à la page info <a href="{{ path('app_info_index') }}">Cliquez ici</a></h2>
                {{ form_start(form)}}
                    {{form_row(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Recherche'}})}}
                    <hr>
                    <button type="submit" class="btn btn-success btn -block">Rechercher</button>
                {{ form_end(form)}}
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 mx-auto">
                {% if qrCode %}
                    <img src="{{qrCode}}" alt="qrcode" />
                {% endif %}                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
